visualizacionVEM/
practica2/__pycache__
practica2/src/__pycache__
practica2/test/__pycache__
practica2/.tmp_dagster_home_*
practica3/__pycache__
practica3/src/__pycache__
practica3/test/__pycache__
practica3/.tmp_dagster_home_*